/* --Note--- */

Шрифт

	font-style: italic;
	/* ------Шрифт курсив (с наклоном) =  */

	bold;
	/* ------Жирность шрифта = font-weight:  */
	
Тень

	text-shadow: 10px 10px 10px rgba(68, 81, 98, 1);
	/* ------тень под текстом =  */

	text-shadow: 10px 10px 10px rgba(13, 92, 99, 1);
	/* ------тень под текстом header__logo = */
	
Цвет

	color rgba(133, 9, 9, 1); 
	/* ------красный = -------------- */

	color rgba(250, 250, 250, 1);
	/* ------белый = -------------- */

	color:rgba(13, 92, 99, 1);
	/* ------сине-зеленый =-------------- */
	/* ------Эр Дже Би Эй - Три цифры - код цвета, а 4я цифра - прозрачность фона от 0.0 до 1.0 */
	/* ------span.bigred в приоритете перед .bigred, так как используется тег span и класс .bigred */

	color: rgba(13, 92, 99, 1);
	/* ------Цвет шрифта в кнопках меню = -------------- */

Позиция блока

.header__container {
	display: flex;
	/* Все элементы в ряд = display: flex, если нет такого условия, то все элементы столбиком: Блок header__logo и картинка, а ниже header__menu.  */
	min-height: 100px;
	/* Минимальная высота блока header__container = min-height: 104px */
	/* Блок header__container включает = header__logo + header__menu */
	align-items: center;
	/* Блок header__container находится в центре блока header*/
	border: 1px solid #ff0303;
	/* Блок header__container выделен красной границей */
	background: rgb(14, 196, 41);
	/* Блок header__container зеленый цвет фона. Если background отсутствует, то цвет фона. Или можно указать белый цвет фона = background: rgba(250, 250, 250, 1) */

	position: fixed;
	/* ------Звфиксированная = -------------- */

	position: absolute;
	/* ------Абсолютно указанная = position: -------------- */
	/* ------Можно указать обе, но сработает последнея = fixed или absolute */

	z-index: 50;
	/* Индекс позиционного уровня = z-index: 50 Чем больше значение, тем выше в стопке появится элемент.*/

	padding: 5px 0;
	/* раздвигает блок внутри вверх и вниз = padding: 5px 0 */

	margin: 0px 0px 0px 133px;
	/* отступ блока header__menu от блока header__logo = margin: 0px 0px 0px 10px */
	
	border: 1px solid #0d5c63;
	/* 4 значения - 1) радиус вверху слева; 2) радиус вверху справа; 3) радиус снизу справа; 4) радиус снизу слева */
	/* 3 значения - 1) радиус вверху слева; 2) радиус вверху справа и радиус внизу слева; 3) радиус снизу справа */
	/* 2 значения - 1) радиус вверху слева и внизу справа; 2) радиус вверху справа и внизу слева */
	/* 1 значение радиус со всех сторон */
	/* для наглядности укажем границы блока. solid - сплошная линия, dotted - линия из точек, dashed - пунктирная линия */

	.header__menu {
		margin: 0px 0px 0px 133px;
		/* отступ header__menu от лейбл (header__logo) = margin: 0px 0px 0px 10px */
